* {
    box-sizing: border-box;
}

body,
button {

    margin: 0;
    /* Убирает отступы по умолчанию */
    padding: 0;
    /* Убирает внутренние отступы */
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    /* Высота строки для лучшей читаемости */
    color: #333;
    /* Цвет текста */
    background-color: #fff;
    /* Цвет фона */

}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0px !important;
}

.container {
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
}

.hero {
    background-image: url(/project/image/image-bg.png);
    background-repeat: no-repeat;
    background-size: auto 849px;
    /* Ширина автоматически, высота фиксирована */

    width: 100%;
    background-position: center top;
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
    background-color: rgba(16, 16, 29, 0.9);
    gap: 164px;


    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        ;
    }



    &-title {
        font-family: Raleway;
        font-weight: 800;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: -0.01rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);

        span {
            font-family: Raleway;
            font-weight: 800;
            font-size: 28px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;
            text-transform: uppercase;
            color: rgba(67, 171, 240, 1);
        }


    }

    &-links {

        ul {
            display: flex;
            gap: 60px;
            align-items: center;
        }

        li {
            list-style-type: none;
            font-weight: 600;
            font-size: 13px;
            line-height: 100%;
            text-align: right;
            vertical-align: middle;
            text-transform: uppercase;
        }



    }
}


.main-button-group {
    max-width: 396px;
    min-width: 396px;
    max-height: 43px;
    min-height: 43px;
    display: flex;
    align-items: center;
    gap: 30px;
    align-items: flex-start;
    font-family: 'Lato';


    .button-group__button {
        max-width: 183px;
        min-width: 183px;
        padding: 12px 32px;
        max-height: 43px;
        min-height: 43px;
        font-weight: 400;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(111, 109, 123, 1);
        border-radius: 4px;
        cursor: pointer;
    }

    .button-group__button:focus {
        background-color: rgba(62, 156, 220, 1);
        color: rgba(255, 255, 255, 1);
    }
}

.main {
    padding-top: 203px;


    &-title {
        font-family: Lato;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 1);
        max-width: 780px;
        min-width: 780px;
        max-height: 125px;
        min-height: 125px;
        white-space: normal;

        span {
            color: rgba(67, 171, 240, 1);
        }
    }

    &-text {

        p {
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
        }
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 11px;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        padding-top: 10px;
        padding-left: 13px;

    }



    .main-block-info {
        display: flex;
        flex-direction: column;
        justify-self: center;
        gap: 82px;
        max-width: 780px;
        min-width: 780px;
        max-height: 444px;
        min-height: 444px;
        margin-bottom: 202px;
        margin-right: 122px;
    }

    .main-order-process {

        background-color: rgba(39, 39, 51, 1);
        background-image: url(/project/image/image-2.png);
        padding-top: 94px;
        background-size: auto 849px;
        height: 916px;
        width: 100%;


        &-box {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 101px;
            /*  max-width: 1172px;
            min-width: 1172px; */
            max-height: 647px;
            min-height: 647px;
            margin: 0 auto;

        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 94px;
            max-height: 94px;

            h1 {
                font-weight: 800;
                font-size: 36px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 1);
            }

            span {
                color: rgba(67, 171, 240, 1);
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;
                color: rgba(187, 187, 187, 1);

            }
        }
    }



}

.main-order-process-imgSet {
    background-image: url(/project/image/xxx.png);
    background: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 153px;
    min-height: 150px;
    gap: 20px;

}

.main-article-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 209px;
    min-width: 209px;
    max-height: 164px;
    min-height: 164px;

    p {

        min-height: 44px;
        max-height: 44px;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(255, 255, 255, 1);

    }

}

.main-artcle-box {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: rgba(62, 156, 220, 1);
    border-radius: 50px;
    border: 5px solid rgba(40, 102, 144, 1);


    img {
        display: flex;
        align-items: center;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.dots-box {
    margin-top: 48px;
    align-self: flex-start;
    gap: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.dots {
    width: 6px;
    height: 6px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 12px;
    align-items: center;
}

.main-dots-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.main-order-process-text {
    display: flex;
    justify-content: space-between;
    min-width: 105%;
    color: white;
    gap: 52px;

    & .order-text {
        max-width: 180px;
        margin: 0 auto;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
    }
}

.settings-form {
    min-width: 100%;
    display: flex;
    flex-direction: column;

    .form-action:focus {

        border: 1px solid rgba(255, 255, 255, 1) !important;

    }

    .form-action {
        min-height: 48px;
        max-height: 48px;
        background-color: rgba(255, 255, 255, 0.85);
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        width: 370px !important;
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 1);
        padding: 12px 35px 12px 10px;


    }

    .form-action::placeholder {

        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: rgba(39, 39, 51, 1);
    }

    .form {
        display: flex;
        justify-content: center;
        gap: 30px;
    }

}

.form__field {
    display: flex;
    flex-direction: column;
    width: 770px;

    &-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-top: 25px;

        font-weight: 400;
        font-size: 18px;

        line-height: 100%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 1);

    }


}

.form__slider {
    width: 100%;
    height: 8px;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.form__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(66, 169, 237, 1);
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 3px solid rgba(40, 102, 144, 1);
}

.form-action-file {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.form__file-input {
    display: none !important;
    /* Полностью скрываем input */
}

.form__file-wrapper {
    display: inline-block;
}

.form__file-button {
    display: inline-flex;
    align-items: center;
    min-height: 48px;
    max-height: 48px;
    background: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 370px !important;
    border-radius: 3px;
    border: 2px solid rgba(62, 156, 220, 1);
    padding: 12px 35px 12px 74px;
}

.form__file-button:hover {
    background-color: #f0f8ff;
}

.form__file-icon {
    font-size: 18px;
}

.form__file-text {
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.form__file-name {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #777;
}

.form-file {
    width: 370px;
    margin-top: 10px;
    margin-top: 34px;
    cursor: pointer;
}

.main-order-btn {
    margin: 0 auto;
    margin-top: 48px;
    width: 370px;
    max-height: 48px;
    min-height: 48px;
    border-radius: 4px;
    background-color: rgba(62, 156, 220, 1);
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    padding: 17px 124px;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}

.contacts-box-bfr::before {
    content: '';
    margin-right: 20px;
    height: 20px;
    width: 1px;
    background-color: rgba(195, 195, 195, 1);
}

.contacts-box-aftr::after {
    content: '';
    height: 20px;
    width: 1px;
    background-color: rgba(195, 195, 195, 1);
    left: 10px;
    margin-left: 20px;
}

.footer {
    min-height: 80px;
    max-height: 80px;
    background: rgba(61, 64, 80, 1);


    & .footer-contacts {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        gap: 30px;
        padding-top: 30px;


        &-box {

            a {
                text-decoration: none;
                color: rgba(255, 255, 255, 1);
            }

            small {

                font-weight: 400;
                font-size: 13px;
                color: rgba(255, 255, 255, 1);
                line-height: 100%;
                letter-spacing: 0%;
                vertical-align: middle;

            }

            color: rgba(195, 195, 195, 1);
            font-weight: 400;
            font-size: 13px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            display: flex;
            align-items: center;
            gap: 10px;
            max-height: 20px;
            min-height: 20px;

        }
    }
}


@media (max-width :1200px) {
    .settings-form .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
        align-items: center;
    }

    .main-order-process {
        padding-top: 0px !important;
    }

    .main-order-process {
        &-box {
            gap: 50px !important;
        }
    }

    .main-artcle-box {
        width: 50px;
        height: 50px;
        
        img {
            width: 20px ;
            height: 18px;
        }
    }

    .dots-box {
        display: none;
    }

    .main-dots-block {
        gap: 101px;
    }

    .order-text {
        width: 90px;
    }

    .header {
        gap: 0px;
        justify-content: unset;
    }

    .header-links {
        ul {
            gap: 13px;
            flex-direction: column;
        }
    }

   
}